.container{
  padding-left: 36%;
  padding-top: 100px;
}
button{
  color: black;
  background-color: aqua;
  border: black 2px solid;
  border-radius: 4px;
  width: 70px;
}
.btn{
  margin-right: 8px;
}
p{
  width: 500px;
}